
<div class="container-fluid p-0">
    <img src="static/pong_banner_with_text.jpeg" alt="ft_transcendence banner" class="banner" style="width: 100%">
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-lg-3 bg-black text-white pt-5">
            <form id="loginForm" method="POST">
                <input type="text" id="username" name="username" placeholder="Welcome Player" class="form-control" required><br><br>
                <input type="password" id="password" name="password" placeholder="Password" class="form-control" required><br><br>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-light text-dark bg-light">Login</button>
                </div>
            </form>
            <br>
            <p id="errorMessage"></p>
            <p>Don't have an account? <a href="/registration">Register here</a></p>
        </div>
    </div>
</div>
