
<h2 class="text-center text-white">Profile</h2>

<div class="row">
    <div id="changePassword" class="col m-5 bg-light">
        <h5>Change your Password</h5>
        <form id="passwordForm">
            <div>
                <input type="password" id="currentPassword" name="currentPassword" placeholder="Current Password">
            </div>
            <div>
                <input type="password" id="newPassword" name="newPassword" placeholder="New Password">
            </div>
            <div>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm New Password">
            </div>
            <button type="submit">Change Password</button>
        </form>
        <div id="passwordChangeStatus"></div>
    </div>

    <div id="changeAvatar" class="col m-5 bg-light">
        <h5>Change your avatar</h5>
        <form id="avatarForm" enctype="multipart/form-data">
            <input type="file" id="avatarInput" name="avatar" accept=".jpg, .jpeg, .png"><br>
            <button type="submit">Upload new Avatar</button>
        </form>
        <div id="avatarUploadStatus"></div>
    </div>

    <div id="setDisplayName" class="col m-5 bg-light">
        <h5>Set your display name for tournaments</h5>
        <form id="setDisplayName">
            <input type="text" id="displayName" placeholder="Choose a cool player name" required>
            <button type="submit" id="sendDisplayName">Submit</button>
            <p id="displayNameStatus"></p>
        </form>
    </div>
</div>

<div class="row">
    <div id="winLossRecord" class="col m-5 bg-light">
        <h5>Win Loss Record</h5>
    </div>

    <div id="gameHistory" class="col m-5 bg-light">
        <h5>Game History</h5>
        <table id='gamesTable' class="table table-dark table-striped table-hover">
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Player 1</th>
                <th>Player 2</th>
                <th>Winner</th>
                <th>Result</th>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div id="friends" class="col m-5 bg-light">
        <h5>Friend List</h5>
        <ul id="friendList"></ul>
    </div>

    <div id="addFriends" class="col m-5 bg-light">
        <h5>Add friends</h5>
    </div>
</div>