<div class="container-fluid p-0">
    <img src="static/pong_banner_with_text.jpeg" alt="ft_transcendence banner" class="banner" style="width: 100%">
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-lg-3 bg-black text-white pt-5">
            <h2 class="text-center">Registration</h2>
            <br>
            <form id="registrationForm" action="/register" method="POST">
                <input type="text" id="username" name="username" placeholder="User Name" class="form-control" required><br>
                <span id="usernameError"></span><br><br>

                <input type="password" id="password" name="password" placeholder="Password" class="form-control" required><br>
                <span id="passwordError"></span><br><br>

                <input type="password" id="passwordRepetition" name="passwordRepetition" placeholder="Repeat Password" class="form-control" required><br>
                <span id="passwordRepetitionError"></span><br><br>

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-light text-dark bg-light">Register</button><br><br>
                </div>
                <br>
                <span id="submitError" class="text-center"></span><br><br>
            </form>
        </div>
    </div>
</div>