<div class="container-fluid p-0">
    <img src="static/pong_banner_with_text.jpeg" alt="ft_transcendence banner" class="banner" style="width: 100%">
</div>

<div class="row">
    <div class="col p-5 m-5 rounded background-magenta">
        <p>Pong is a mindset.</p>
        <button id="playPong" class="btn btn-outline-dark shadow">Just play Pong</button>
    </div>
    <div class="col p-5 m-5 rounded background-magenta">
        <p>Relax with a round of Tic Tac Toe.</p>
        <button id="playTictactoe" class="btn btn-outline-dark shadow">Play Tic Tac Toe</button>
    </div>
</div>