global:
  resolve_timeout: 5m

route:
  receiver: 'mail'
  repeat_interval: 20s
  group_by: [ alertname ]

receivers:
- name: 'mail'
  email_configs:
  - smarthost: smtp.gmail.com:587
    from: ${SMTP_FROM}
    auth_username: ${SMTP_AUTH_USERNAME}
    auth_password: ${SMTP_AUTH_PASSWORD}
    auth_identity: ${SMTP_AUTH_USERNAME}
    to: ${SMTP_FROM}
